<section ng-controller="TorneosController" id="{{id_modulo}}" data-scrollspy-broadcast>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{titulo}}</h2>
                <h3 class="section-subheading text-muted">Participa en las actividades que organizamos, torneos, cursos, debates de exhibición...</h3>
            </div>
        </div>
        <div class="row text-center">
            <h2>II Torneo de Debate Escrito de la Universidad Autónoma de Madrid</h2>
            <p><a href="/modulos/torneos/img/cartel_torneo_debate_escrito_03_2016.png" title="Descargar cartel"><img src="/modulos/torneos/img/cartel_torneo_debate_escrito_03_2016.png" class="img-responsive" /></a></p>            
            <p><a class="btn btn-xl" href="http://bit.ly/1QjJch8">
                Formulario de inscripción</a></p>
            <p><a class="btn btn-xl" href="/modulos/torneos/docs/normativa_torneo_debate_escrito_03_2016.pdf" >
                Normativa del torneo</a></p>
        </div>
    </div>
</section>