<section ng-controller="GaleriaController" id="{{id_modulo}}" data-scrollspy-broadcast>
    <div class="container galeria">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Galería de Imágenes</h2>
                <h3 class="section-subheading text-muted">Una imagen vale más que mil palabras</h3>
            </div>
        </div>
        <wrap-owlcarousel class="owl-carousel" data-options="{items : 3}">
            <div class="col-xs-12 portfolio-item" ng-repeat="elemento in elementos">
                <a ng-href="#portfolioModal{{$index+1}}" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img ng-src="{{elemento.imagen[0]}}" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>{{elemento.titulo}}</h4>
                    <p class="text-muted">{{elemento.subtitulo}}</p>
                </div>
            </div>
        </wrap-owlcarousel>
    </div>
    <div class="container galeria-videos">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Galería de Vídeos</h2>
                <h3 class="section-subheading text-muted">La sociedad de debates en acción</h3>
            </div>
        </div>
        <wrap-owlcarousel class="owl-carousel" data-options="{singleItem : true}">
            <div class="col-xs-12 " ng-repeat="video in videos">
                <div class="video-caption">
                    <h4>{{video.titulo}}</h4>
                    <p class="text-muted">{{video.subtitulo}}</p>
                </div>
                <div class="video-wrapper" ng-if="video.url.indexOf('youtu') > -1">
                    <youtube-video video-url="video.url">
                    </youtube-video>
                </div>
                <vimeo-video player-id="video{{index}}" video-url="video.url" 
                             ng-if="video.url.indexOf('vimeo') > -1">
                </vimeo-video>
            </div>
        </wrap-owlcarousel>
    </div>

    <!-- Ventanas de galería -->
    <div class="portfolio-modal modal fade" id="portfolioModal{{$index+1}}" tabindex="-1" role="dialog" aria-hidden="true" ng-repeat="elemento in elementos">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>{{elemento.titulo}}</h2>
                            <p class="item-intro text-muted">{{elemento.subtitulo}}</p>
                            <wrap-owlcarousel class="owl-carousel" data-options="{singleItem : true,autoHeight : true}">
                                <img class="img-responsive" ng-src="{{imagen}}" alt="" ng-repeat="imagen in elemento.imagen">
                            </wrap-owlcarousel>
                            <div ng-bind-html="elemento.texto"></div>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar ventana</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</section>