<section ng-controller="ContactoController" id="{{id_modulo}}" data-scrollspy-broadcast class="contacto">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{titulo}}</h2>
                <h3 class="section-subheading text-muted">Envía tus preguntas y nos pondremos en contacto contigo</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
               <!-- <form name="sentMessage" action="thanks.html" method="post">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Tu nombre *" id="name" name="name" 
                                       required data-validation-required-message="Por favor, introduce tu nombre">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Tu email *" id="email" name="email" 
                                       required data-validation-required-message="Por favor, introduce tu dirección de correo electrónico">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <textarea class="form-control" placeholder="Tu mensaje *" id="message" name="message"  
                                          required data-validation-required-message="Por favor, introduce un mensaje"></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-center">
                            <div id="success"></div>
                            <input type="submit" class="btn btn-xl" value="Enviar mensaje" />
                        </div>
                    </div>
                </form>
-->
                
            <div class="col-xs-12 text-center">
                <p>Envíanos tus dudas y sugenrencias a nuestra <a href="https://www.facebook.com/SociedadDeDebatesUam">página de Facebook</a> o a nuestro correo <a href="mailto:debatesuam@gmail.com">debatesuam@gmail.com</a></p>
            </div>
            </div>
        </div>
    </div>
</section>