<section ng-controller="MiembrosController" id="{{id_modulo}}" data-scrollspy-broadcast>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{titulo}}</h2>
                <blockquote>
                    <p>Ninguno de nosotros es tan inteligente como todos nosotros juntos</p>
                    <footer><cite title="Source Title">Ken Blanchard</cite></cite>
                    </footer>
                </blockquote>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center"><h3>Junta directiva</h3></div>
        </div>
        <div class="row">
            <div ng-repeat="miembro in miembros" class="col-sm-3">
                <div class="team-member">
                    <img ng-src="{{miembro.imagen}}" class="img-responsive img-circle" alt="">
                    <h4>{{miembro.nombre}}</h4>
                    <p class="text-muted texto">{{miembro.cargo}}<br />
                    <span class="small"><em>{{miembro.estudios}}</em></p>
                </div>
            </div>
            <!--
            <div class="col-lg-12 text-center mas-miembros">
                <button class="btn btn-xl" ng-click="isMasmiembros = !isMasmiembros">Ver más miembros del equipo</button>
                <div collapse="isMasmiembros" class="row">
                    <div ng-repeat="miembro in masMiembros" class="col-xs-4 col-sm-2">
                        <div class="team-member">
                            <img ng-src="{{miembro.imagen}}" class="img-responsive img-circle" alt="">
                            <h4>{{miembro.nombre}}</h4>
                            <p class="text-muted">{{miembro.cargo}}</p>
                            <p class="text-muted small"><em>{{miembro.estudios}}</em></p>
                        </div>
                    </div>
                </div>
            </div>
            -->
        </div>
    </div>
</section>