<section ng-controller="InfoController" id="{{id_modulo}}" data-scrollspy-broadcast>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{titulo}}</h2>
                <h3 class="section-subheading text-muted">Conoce un poco más nuestra asociación</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4" ng-repeat="elemento in elementos">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa {{elemento.icono}} fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">{{elemento.titulo}}</h4>
                <p class="text-muted" ng-bind-html="elemento.texto"></p>
            </div>   
        </div>
    </div>
</section>