<section ng-controller="ParticipaController" id="{{id_modulo}}" data-scrollspy-broadcast>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{titulo}}</h2>
                <h3 class="section-subheading text-muted">¡Atrévete y debate!</h3>
            </div>
        </div>
        <div class="row text-center">
            <p>Si quieres perder el miedo a comunicar ante una audiencia, mejorar tus destrezas de 
                argumentación oral y de persuasión, conocer los fundamentos y la estructura del debate
                de competición, trabajar en equipo para conformar una estrategia común y acudir a torneos de debate,
                ¡la Sociedad de Debate es tu lugar!</p>  
                <br /><br /><br />
                <p><button class="btn btn-xl" ng-click="isCartel = !isCartel">Cartel promocional</button></p>
                <p><div collapse="isCartel" class="row">
                    <img class="cartel" src="/img/participa/cartelPromocional.jpg"/>
                </div></p>
            <p>
            <a class="btn btn-xl" href="https://docs.google.com/forms/d/1VNe2RGm8m_yIMyE7cCA8mQe2nYhih6v9th1VU3_6bX8/viewform" target="_blank">
                Rellena el formulario para formar parte de la asociación</a></p>
        </div>
    </div>
</section>