<section ng-controller="TrayectoriaController" id="{{id_modulo}}" data-scrollspy-broadcast>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{titulo}}</h2>
                <h3 class="section-subheading text-muted">Conoce nuestra historia</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li ng-repeat="elemento in elementos" ng-class="{ 'timeline-inverted' : $odd}">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" ng-src="{{elemento.imagen}}" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>{{elemento.fecha}}</h4>
                                <h4 class="subheading">{{elemento.titulo}}</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted" ng-bind-html="elemento.texto"></p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>¡Sé parte
                                    <br>de Nuestra
                                    <br>Historia!</h4>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-lg-12 text-center mas-trayectoria">
                <button class="btn btn-xl" ng-click="isMasTrayectoria = !isMasTrayectoria">Otros eventos importantes</button>
                <div collapse="isMasTrayectoria" class="row">
                    <div class="grupo-eventos" ng-repeat="eventos in masTrayectoria">
                        <div class="col-md-4 text-right titulo">
                            <h4>{{eventos.anyo}}</h4>
                        </div> 
                        <div class="col-md-8 text-left eventos-body">
                            <span class="evento" ng-repeat="evento in eventos.eventos">{{evento}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>