<!-- Cabecera principal -->
<div class="container">
    <div class="intro-text">
        <div class="intro-lead-in">¡Bienvenido a la Sociedad de Debates de la UAM!</div>
        <div class="intro-heading">"Poeta nascitur, orator fit"</div>
        <img src="modulos/core/img/logo/logo.jpg" class="logo"/>
    </div>
</div>