<div data-ng-controller="HomeController">
    
    <!-- Información de la asociación -->
    <div ng-include="'modulos/info/views/info.view.html'" class="bg-light-gray"></div>
    
    <!-- Historia y trayectoria -->
    <div ng-include="'modulos/trayectoria/views/trayectoria.view.html'"></div>
    
    <!-- Galería -->
    <div ng-include="'modulos/galeria/views/galeria.view.html'" class="bg-light-gray"></div>
    
    <!-- Miembros -->
    <div ng-include="'modulos/miembros/views/miembros.view.html'"></div>
    
    <!-- Torneos -->
    <div ng-include="'modulos/torneos/views/torneos.view.html'" class="bg-light-gray"></div>
    
    <!-- Participa -->
    <div ng-include="'modulos/participa/views/participa.view.html'" ></div>
    
    <!-- Contacto -->
    <div ng-include="'modulos/contacto/views/contacto.view.html'" class="bg-light-gray"></div>
</div>
