<nav class="navbar navbar-default navbar-fixed-top"	 
         ng-class="{'navbar-shrink' : cabeceraFondo}">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Alternar navegación</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" scroll-to="page-top" href="#">Sociedad de Debates</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="hidden active">
                    <a scroll-to="page-top" href="#"></a>
                </li>            
                <li ng-repeat="item in menu" data-scrollspy-listen="{{item.link}}">
                    <a ng-href="#" scroll-to="{{item.link}}" ng-bind="item.titulo"></a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>