<div class="container">
    <div class="row">
        <div class="col-md-4">
            <span class="copyright">Copyright &copy; Sociedad de Debates UAM</span>
        </div>
        <div class="col-md-4">
            <ul class="list-inline social-buttons">
                <li><a href="https://twitter.com/DebatesUAM" target="_blank"><i class="fa fa-twitter"></i></a>
                </li>
                <li><a href="https://www.facebook.com/SociedadDeDebatesUam" target="_blank"><i class="fa fa-facebook"></i></a>
                </li>
                <li><a href="http://es.linkedin.com/pub/sociedad-debates-universidad-aut%C3%B3noma-de-madrid/96/82b/378" target="_blank"><i class="fa fa-linkedin"></i></a>
                </li>
                <li><a href="https://www.youtube.com/channel/UCJmDovhyu_owq2G4DUcMjwg" target="_blank"><i class="fa fa-youtube"></i></a>
                </li>
                <li><a href="mailto:debatesuam@gmail.com" target="_blank"><i class="fa fa-envelope-o"></i></a>
                </li>
            </ul>
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>